::selection {
  color: #f54538;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100%;
  -webkit-overflow-scrolling: auto;
}

body {
  font-family: sans-serif;
  background: radial-gradient(#525252, #131313);
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Montserrat", sans-serif;
  background-color: #080808;
}

.logo {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  cursor: pointer;
  list-style: none;
}
.nav-links a:link,
.nav-links a:visited {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  background: #f54538;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
.nav-links a:hover {
  background: white;
  color: #f54538;
}
li:nth-of-type(1) {
  transition: all 1s ease;
  transform: scale(1.3);
}

li:nth-of-type(3) {
  display: none;
}
.drag-drop {
  background: #f54538;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  min-width: 50%;
  height: 3rem;
  border-radius: 2rem;
}
.drag-drop:hover {
  background: white;
  color: #f54538;
}

.fa-arrows-alt {
  pointer-events: none;
}

.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 30px;
  height: 3px;
  margin: 5px;
  background-color: rgb(238, 235, 235);
  transition: all 0.6s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 8vh;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    transform: translateX(100%);
    z-index: 1;
  }
  .nav-links a:hover {
    background: white;
    color: #f54538;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }

  .stop-list {
    width: 100%;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 10%;
  }

  form input {
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    width: 80%;
  }
  form button {
    position: absolute;
    right: 0;
    margin-right: 1.3rem;
  }

  li:nth-of-type(3) {
    display: flex;
  }
}

@media screen and (max-width: 480px) {
  form button {
    margin: 0;
  }
}

.transition {
  transition: transform 0.5s ease;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: translateY(-5px);
}
.toggle .line2 {
  opacity: 1;
}
.toggle .line3 {
  transform: translateY(5px);
}

.sticky {
  top: 0;
}

form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #f54538;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #f54538;
  color: white;
}

.stop-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stop-list {
  min-width: 60%;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
  padding: 1rem;
  transition: all 0.6s ease;
  cursor: move;
}
.dragging {
  opacity: 0.5;
}

.stop-name-div {
  font-size: 24px;
  background: #080808;
  color: white;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  letter-spacing: 1px;
}

.schedule-div {
  background: #2c2c2c;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  padding-left: 7%;
}
.line-span {
  text-align: center;
}
.dir-span {
  text-align: center;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
}

.fall {
  transform: translateX(8rem);
  opacity: 0;
}

.delete-button,
.reverse-button {
  background: #f54538;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  min-width: 50%;
  height: 3rem;
}
.delete-button:hover,
.reverse-button:hover {
  background: white;
  color: #f54538;
}
.fa-trash,
.fa-retweet {
  pointer-events: none;
}

.zone-id-span {
  opacity: 0;
}

.hidden {
  opacity: 0;
}
